<div class="<%= widget.classPrefix %>-root">
  <fieldset>
    <legend><%= grunt.config('strings.widget.mobileNumber.label') %></legend>
    <label>
      <span class="<%= widget.classPrefix %>-label">
        <%= grunt.config('strings.widget.mobileNumber.areaCode.label') %>
      </span>
      <input class="<%= widget.classPrefix %>-area-code" type=tel
        placeholder="512"
        maxlength=3
        pattern="[0-9]{3}"
        >
    </label>
    <label>
      <span class="<%= widget.classPrefix %>-label">
        <%= grunt.config('strings.widget.mobileNumber.prefix.label') %>
      </span>
    <input class="<%= widget.classPrefix %>-prefix" type=tel
      placeholder="555"
      maxlength=3
      pattern="[0-9]{3}"
      >
    </label>
    <label>
      <span class="<%= widget.classPrefix %>-label">
        <%= grunt.config('strings.widget.mobileNumber.lineNo.label') %>
      </span>
      <input class="<%= widget.classPrefix %>-line-no" type=tel
        placeholder="1234"
        maxlength=4
        pattern="[0-9]{4}"
        >
    </label>
    <button class='<%= widget.classPrefix %>-submit-btn' type=button>
      <%= grunt.config('strings.widget.signUpButton.label') %>
    </button>
  </fieldset>
  <p class='<%= widget.classPrefix %>-result'></p>
  <p><%= grunt.config('strings.widget.ratesWarning') %></p>
  <p><%= grunt.config('strings.widget.termsAndConditions') %></p>
  <iframe src="<%= widget.iframeUrl %>"></iframe>
</div>
